@import "tailwindcss";
* {
  font-family: "Open-Sans", sans-serif;
}

.bg-flower {
    background: url('images/JPEG/bg-flower.jpg') center / cover no-repeat fixed;
}

.bg-leave {
    background: url('images/JPEG/bg-leave.jpg') center / cover no-repeat;
}
.tea-bg {
  background: url('images/JPEG/tea-bg.jpg') center / cover no-repeat;
}
